/* General Savings Component */

#generalSavings {
    width: 50%;
    height: 100%;
    background-color: #181818;
    border-radius: 15px;
}

#generalSavingsContent {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 10px 0 0 10px;
}

#generalSavingsCircularProgressbarWrapper {
    height: 100%;
    width: 50%;
}

.generalSavingsCircularProgressbar {
    width: 75%;
}

#generalSavingsCircularProgressHints {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#generalSavingsCircularProgressHints .hint {
    display: flex;
    gap: 10px;
}

#generalSavingsCircularProgressHints .hint .color {
    height: 15Px;
    width: 15px;
    border-radius: 88.571px
}

#generalSavingsCircularProgressHints .hint p {
    color: var(--Primary-Base-White, #FFF);
    font-family: Inter;
    font-size: 12.4px;
    font-style: normal;
    font-weight: 500;
    line-height: 17.714px;
    letter-spacing: -0.248px;
}

    @media only screen and (max-width: 500px) {
        #generalSavings {
            width: 380px;
            height: 280px; 
            padding: 10px;
            align-self: center;
        }
    
        #generalSavings h3 {
            font-size: 16px;
        }
    
        #generalSavingsCircularProgressbarWrapper {
            width: 60%;
        }
    
        .generalSavingsCircularProgressbar {
            width: 65%;
        }
    
        #generalSavingsCircularProgressHints {
            gap: 8px;
        }
    
        #generalSavingsCircularProgressHints .hint p {
            font-size: 10px;
        }
    }
