/* LogIn.css */

/* Estilo del contenedor principal de la pantalla de inicio de sesión */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    height: 100%;
  }
  
  .LogIn {
    justify-content: space-between;
    align-items: center;
    width:  40%;
  height: 47.83%;
    padding: 0 5%;
    color: white;
    background-color:  #2D18BF;
  }
  
  /* Parte izquierda del texto promocional */
  .LogIn-left {
    width: 40%;
  }
  
  .LogIn-left h1 {
    font-size: 3vw;
    font-weight: bold;
    line-height: 1.2;
  }
  
  .LogIn-left .highlight {
    background-color: #d2ff00;
    color: #1f1f1f;
    padding: 2px 8px;
    border-radius: 5px;
  }
  
  /* Contenedor del formulario de inicio de sesión */
  .LogIn-container {
    width: 35%;
    background-color: #2a2d54;
    border-radius: 20px;
    padding: 5% 8%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  }
  
  .LogIn-container h1 {
    font-size: 2vw;
    margin-bottom: 10%;
    text-align: center;
  }
  
  input {
    width: 50%;
    padding: 2.5%;
    margin-bottom: 5%;
    border-radius: 5px;
    border: none;
    background-color: #d2d2d2;
    font-size: 1vw;
  }
  
  button {
    width: 55%;
  height: 8.125%;
    padding: 3%;
    background-color: #A8F25D;
    color: #0b0d1b;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-family: 'Plus Jakarta Sans';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  
  .LogIn-container button:hover {
    background-color: #A8F25D;
  }
  
  .LogIn-container h3 {
    font-size: 1vw;
    margin: 3% 0;
    color: #d2d2d2;
    text-align: left;
  }
  
  .LogIn-container a {
    font-size: 1vw;
    color: #72f476;
    text-decoration: underline;
    cursor: pointer;
    display: block;
    text-align: center;
  }
  
  .LogIn-container p {
    color: red;
    font-size: 1vw;
    text-align: center;
  }
  
  