.card {
    display: inline-block; 
    position: relative;
  }
  
  .capyCard {
    width: 100%; 
    height: 100%;
  }
  
  .moveButton {
    position: absolute;
    top: 20px;    
    right: 16px; 
    width: 17.79px; 
    height: 13;
    cursor: pointer;
  }
  