.savingGoalItem {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 0 4% 0;
}

.savingGoalHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80%;
    margin: 0 3% 0 3%
}

.savingGoalHeader button {
    width: 10%;
    height: 7%;
    background-color: #F9F9F9;
    padding: 14px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    color: #181818;
    font-family: "Plus Jakarta Sans";
    font-size: 11.907px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.savingGoalTitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 0 1% 0;
    width: 100%;
}

.savingGoalTitle img {
    border-radius: 10px;
    padding: 2px;
    margin-right: 14px;
    aspect-ratio: 1/1;
}

.savingGoalTitleText {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.savingGoalTitleText h4 {
    color: #F9F9F9;

    /* Titulo mobile */
    font-family: "Space Grotesk";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.savingGoalTitleText p {
    color: #F9F9F9;

    /* inputs-Body */
    font-family: "Plus Jakarta Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.savingGoalGraphContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.savingGoalGraphLabels {
    color: var(--Primary-Base-White, #FFF);
    text-shadow: 0px 1.188px 1.188px rgba(0, 0, 0, 0.25);

    /* body mobile */
    font-family: "Plus Jakarta Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    display: flex;
    justify-content: space-between;

    width: 90%;

    margin: 1% 0 1% 0;
}

.bg-primary {
    background: linear-gradient(270deg, #afa3c9, #4233a9);
    border-radius: 40px;
}