@font-face {
  font-family: "Space Grotesk";
  src: url("../../assets/TempFonts/SpaceGrotesk-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Plus Jakarta";
  src: url("../../assets/TempFonts/PlusJakartaSans-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

.uniqueFeatureCardContainer {
  background-color: #181818;
  width: 100%;
  aspect-ratio: 2.1 / 1;
  border-radius: 16px;

  padding: 20px;
  margin: 10px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.uniqueFeatureCardContainer h3 {
  font-size: 38px;
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.uniqueFeatureCardContainer p {
  font-size: 20px;
  font-family: "Plus Jakarta";

  width: 80%;

  margin-top: 30px;
  margin-bottom: 20px;

  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
