
.resumen {
    width: 150%;
    background-color: #181818;
    padding: 20px;
    border-radius: 16px;
    color: white;
    font-family: Arial, sans-serif;
  }
  
  .resumen h2 {
    font-size: 1.5em;
    margin-bottom: 16px;
  }
  