#registePageContainer {
    overflow: hidden;
}

.no-scroll {
    overflow: hidden;
}

#Register {
    position: absolute;
    margin-top: 200px;
    margin-left: 90px;
    width: 40%;
    overflow: hidden;
}

#Logo {
    width: 51px;
    height: 51px;
    position: absolute;
    top: 80px;
    margin-left: 90px;
    overflow: hidden;
}

#backgroundRegister {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('../../assets/desktop/svg/fondoLogin.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

@media only screen and (max-width: 500px) {
    #Register {
        position: relative;
        margin: 50% auto 0;
        max-width: 90%;
        padding: 10px;
        width: auto;
    }

    #Logo {
        display: none;
    }

    #backgroundRegister {
        background-image: url('../../assets/mobile/svg/SignUp.svg');
        background-size: cover;
        background-position: top;
    }
}