/* Category Component */

#categorySavings {
    width: 50%;
    height: 100%;
    background-color: #181818;
    border-radius: 15px;
}

#categorySavingsContent {
    width: 100%;
    display: flex;
    align-items: center;
}

#categorySavingsCircularProgressbarWrapper {
    width: 50%;
    display: flex;
    align-items: center;
}

#categorySavingsCircularProgressHints {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#categorySavingsCircularProgressHints .hint {
    display: flex;
    gap: 10px;
}

#categorySavingsCircularProgressHints .hint .color {
    height: 15Px;
    width: 15px;
    border-radius: 88.571px
}

#categorySavingsCircularProgressHints .hint p {
    color: var(--Primary-Base-White, #FFF);
    font-family: Inter;
    font-size: 12.4px;
    font-style: normal;
    font-weight: 500;
    line-height: 17.714px;
    /* 142.857% */
    letter-spacing: -0.248px;
}