h1,
h2,
h3,
h4,
p,
button {
    margin: 0;
}

#SavingsCardsContainer {
    width: 90vw;
    height: 85vh;
    display: flex;
    gap: 2%;
}

#SavingsCardsContainer h3 {
    color: white;

    font-family: "Space Grotesk";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    margin: 3% 0 0 3%;
}

#leftCardsContainer {
    width: 65%;
    height: 100%;
    border: 2px black solid;
    display: flex;
    flex-direction: column;
    gap: 2%;
}

#summarySavingsContainer {
    width: 100%;
    height: 40%;
    border: 2px rgb(171, 41, 41) solid;
    display: flex;
    gap: 2%;
}

/* General Savings Component */

#generalSavings {
    width: 50%;
    height: 100%;
    border: 2px rgb(41, 171, 50) solid;
    background-color: #181818;
    border-radius: 15px;
}

#generalSavingsContent {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 10px 0 0 10px;
}

#generalSavingsCircularProgressbarWrapper {
    height: 100%;
    width: 51%;
}

.generalSavingsCircularProgressbar {
    width: 75%;
}

#generalSavingsCircularProgressHints {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#generalSavingsCircularProgressHints .hint {
    display: flex;
    gap: 10px;
}

#generalSavingsCircularProgressHints .hint .color {
    height: 15Px;
    width: 15px;
    border-radius: 88.571px
}

#generalSavingsCircularProgressHints .hint p {
    color: var(--Primary-Base-White, #FFF);
    font-family: Inter;
    font-size: 12.4px;
    font-style: normal;
    font-weight: 500;
    line-height: 17.714px;
    /* 142.857% */
    letter-spacing: -0.248px;
}

/* Category Component */

#categorySavings {
    width: 50%;
    height: 100%;
    border: 2px rgb(160, 171, 41) solid;
    background-color: #181818;
    border-radius: 15px;
}

#categorySavingsContent {
    width: 100%;
    display: flex;
    align-items: center;
}

#categorySavingsCircularProgressbarWrapper {
    width: 50%;
    display: flex;
    align-items: center;
}

#categorySavingsCircularProgressHints {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#categorySavingsCircularProgressHints .hint {
    display: flex;
    gap: 10px;
}

#categorySavingsCircularProgressHints .hint .color {
    height: 15Px;
    width: 15px;
    border-radius: 88.571px
}

#categorySavingsCircularProgressHints .hint p {
    color: var(--Primary-Base-White, #FFF);
    font-family: Inter;
    font-size: 12.4px;
    font-style: normal;
    font-weight: 500;
    line-height: 17.714px;
    /* 142.857% */
    letter-spacing: -0.248px;
}

/* Savings Goal Component */

#savingsGoalsContainer {
    width: 100%;
    height: 60%;
    border: 2px rgb(95, 41, 171) solid;
    background-color: #181818;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

#savingsGoalsHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 2%;
}

#savingsGoalsHeader h3 {
    margin: 0;
}

#savingsGoalsHeader button {
    width: 25%;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5%;

    color: #181818;
    text-align: center;
    font-family: "Plus Jakarta Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#savingsGoalsListContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 1% 0 0 0;
    overflow-y: scroll;
    scrollbar-width: none;
}

#savingsGoalsListContainer::-webkit-scrollbar {
    display: none;
}

.savingGoalItem {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 0 4% 0;
}

.savingGoalHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80%;
    margin: 0 3% 0 3%
}

.savingGoalHeader button {
    width: 10%;
    height: 7%;
    background-color: #F9F9F9;
    padding: 14px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    color: #181818;
    font-family: "Plus Jakarta Sans";
    font-size: 11.907px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.savingGoalTitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 0 1% 0;
    width: 100%;
}

.savingGoalTitle img {
    border-radius: 10px;
    padding: 2px;
    margin-right: 14px;
    aspect-ratio: 1/1;
}

.savingGoalTitleText {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.savingGoalTitleText h4 {
    color: #F9F9F9;

    /* Titulo mobile */
    font-family: "Space Grotesk";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.savingGoalTitleText p {
    color: #F9F9F9;

    /* inputs-Body */
    font-family: "Plus Jakarta Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.savingGoalGraphContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.savingGoalGraphLabels {
    color: var(--Primary-Base-White, #FFF);
    text-shadow: 0px 1.188px 1.188px rgba(0, 0, 0, 0.25);

    /* body mobile */
    font-family: "Plus Jakarta Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    display: flex;
    justify-content: space-between;

    width: 90%;

    margin: 1% 0 1% 0;
}

.bg-primary {
    background: linear-gradient(270deg, #581ED4, #2D18BF);
    border-radius: 40px;
}

/* Saving History Component */

#savingsHistoryContainer {
    width: 35%;
    height: 100%;
    border: 2px rgb(144, 64, 64) solid;
    background-color: #181818;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#savingsHistoryContainer h3 {
    width: 93%;
}

#savingsHistoryItemsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 3% 0 0 0;
}

.savingsHistoryItem {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.savingsHistoryItemTitle {
    display: flex;
}

.savingsHistoryItemTitle img {
    border-radius: 8px;
}

.savingsHistoryItemTitleText {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 10px;
}

.savingsHistoryItemTitleText h4 {
    color: #F9F9F9;

    /* Titulo mobile */
    font-family: "Space Grotesk";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.savingsHistoryItemTitleText P {
    color: #F9F9F9;

    /* Mobile Inputs- body */
    font-family: "Plus Jakarta Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.savingsHistoryItem .savingsHistoryItemAmount {
    color: #F9F9F9;
    text-align: right;

    /* inputs-Body */
    font-family: "Plus Jakarta Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}