@font-face {
    font-family: 'Space Grotesk';
    src: url('../../assets/fonts/SpaceGrotesk-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Plus Jakarta';
    src: url('../../assets/fonts/PlusJakartaSans-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


.SaverLevelContainer {
    height: 100%;
    width: 100%;
    border-radius: 16px;
    color: white;
    background-color: #181818;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.SaverLevelContainer h2 {
    color: #FFF;
    font-family: "Space Grotesk";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 16px 0 20px 0;
}

@media only screen and (max-width: 500px) {
    .SaverLevelContainer {
        height: auto;
        padding: 1%;
        border-radius: 12px;
    }

    .SaverLevelContainer h2 {
        font-size: 18px;
        text-align: center;
        margin: 0;
    }
}