
.nameInfo{
    
}
.name{
    color: white;
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 100%;
    margin-left: 4.5%;
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 120px;

}


.email{
        color: white;
        font-family: "Plus Jakarta Sans";
        font-style: normal;
        line-height: normal;
        margin-left: 4.5%;  
        font-size: 20px; 
        margin-bottom: 40px;

}
.capyOption{
    color: white;
        font-family: "Plus Jakarta Sans";
        font-style: normal;
        line-height: normal;
        font-size: 20px; 
        margin-left: 4.5%;        
        font-weight: 600;
        font-size: 24px; 





}