.expenses {
    background-color:#CCFC56;
    height: 100%;
    width: 100%;
    color: white;
    border-radius: 16px;
    position: relative; 
}

.expenses h2:first-of-type {
    font-size: 16px;
    margin-left: 16px;
    margin-top: 38px; 
}

.expenses h1 {
    font-size: 32px;
    margin-left: 16px;
    margin-top: 16px; 
}

.MoveButton {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 16px;
    height: 16px;
}

.ArrowDown {
    position: absolute;
    top: 40px; 
    right: 40px;
    width: 40px; 
}
