.income {
    background-color:#F2622E;
    height: 128px;
    width: 253px;
    color: white;
    border-radius: 16px;
    position: relative; 
    padding:  16px;
}

.income h2 {
    font-size: 16px;
    margin-left: 16px;
}

.income h1 {
    font-size: 32px;
    margin-left: 16px;
    margin-top: 16px;
}

.MoveButton {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 16px;
    height: 16px;
}

.ArrowUp {
    position: absolute;
    top: 40px; 
    right: 40px;
    width: 40px; 
}
