@media only screen and (min-width: 1200px) and (max-width: 1600px) {
    .page {
        width: 100vw;
        min-height: 100vh;
    }

    #background {
        position: fixed; /* Para que ocupe toda la pantalla y se mantenga fija al hacer scroll */
        top: 0;
        left: 0;
        width: 100px; /* 100% del ancho de la ventana */
        height: 1000px; /* 100% de la altura de la ventana */
        background-image: url('../src/assets/svg/DashboardScreen.svg');
        background-size: cover; /* Asegura que la imagen cubra toda la pantalla */
        background-position: center; /* Centra la imagen en la pantalla */
        background-repeat: no-repeat; /* Evita que la imagen se repita */
        z-index: -1; /* Mantiene la imagen detrás del contenido */
      }
}