@font-face {
    font-family: 'Space Grotesk';
    src: url('../../assets/TempFonts/SpaceGrotesk-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Plus Jakarta';
    src: url('../../assets/TempFonts/PlusJakartaSans-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
    
    #dashboardPage {
        width: 100%;
        height: 100vh;
        overflow: auto;
    }

    #dashboardPage #marginPage {
        margin: 30px 60px 0 80px;
        display: flex;
        flex-direction: row;
    }

    #dashboardPage #TitleTextContainer {
        display: flex;
        flex-direction: column;
        margin: 2% 0 2% 0;
    }

    #ContentContainerDashboard {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 0 0 3%;
    }

    #dashboardPage #TitleTextContainer h1 {
        font-size: 22px;
        color: #F9F9F9;
        font-family: 'Plus Jakarta';
        font-weight: bold;
        text-align: left !important;
    }

    #dashboardPage #TitleTextContainer p {
        font-size: 22px;
        color: #F9F9F9;
        font-family: 'Plus Jakarta';
        font-weight: bold;

        margin: 10px 0 0 0;
    }

    #dashboardPage .TextHint {
        color: #CCFC56;
        font-family: 'Space Grotesk';
    }

    #backgroundDashboard {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-image: url('../../assets/desktop/svg/DashboardScreen.svg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        z-index: -1;
    }
}