@font-face {
    font-family: 'Space Grotesk';
    src: url('../../assets/fonts/SpaceGrotesk-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Plus Jakarta';
    src: url('../../assets/fonts/PlusJakartaSans-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.reward-container {
    min-height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    
}

h1 {
    color: white;
    font-family: 'Plus Jakarta';
    line-height: 120px;
    text-align: left;
}

.MissionLevel {
    display: flex;
    flex-direction: row;
    margin-left: 3%;
    
}

#background {
    position: fixed;
    /* Para que ocupe toda la pantalla y se mantenga fija al hacer scroll */
    top: 0;
    left: 0;
    width: 100vw;
    /* 100% del ancho de la ventana */
    height: 100vh;
    /* 100% de la altura de la ventana */
    background-image: url('../../assets/svg/DashboardScreen.svg');
    background-size: cover;
    /* Asegura que la imagen cubra toda la pantalla */
    background-position: center;
    /* Centra la imagen en la pantalla */
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */
    z-index: -1;
}

.iqual {
    height: 100%;
    flex: 1;                   /* Permite que cada div ocupe el mismo espacio */
    background-color: #181818; /* Color de fondo para los niveles */
    padding: 20px;             /* Espaciado interno */
    border-radius: 16px;        /* Esquinas redondeadas */
    color: white;              /* Color del texto */     
    margin: 0 1%;           /* Margen lateral entre los divs (opcional) */

}