@font-face {
    font-family: 'Space Grotesk';
    src: url('../../assets/fonts/SpaceGrotesk-VariableFont_wght.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Plus Jakarta';
    src: url('../../assets/fonts/PlusJakartaSans-VariableFont_wght.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.reward-container {
    min-height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
}

h1#principal {
    color: #F9F9F9;
    font-family: "Plus Jakarta";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 9%;
    margin-top: 12%;
    line-height: 120px;
    text-align: left;
}

.MissionLevel {
    display: flex;
    flex-direction: row;
    margin-left: 3%;
    height: 460px;
}

#backgroundReward {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('../../assets/desktop/svg/fondo.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

.iqual {
    height: 100%;
    flex: 1;
    background-color: #181818;
    padding: 20px;
    border-radius: 16px;
    color: white;
    margin: 0 1%;
}

#nav-container {
    margin-top: 4%;
}

@media only screen and (max-width: 500px) {
    h1#principal {
        font-size: 20px;
        line-height: 50px;
        margin-left: 4%;
        margin-top: 4%;
    }

    .iqual {
        padding: 15px;
    }

    #backgroundReward {
        background-image: url('../../assets/mobile/svg/SignUp.svg');
        background-size: cover;
        background-position: top;
    }
}