@font-face {
  font-family: "Plus Jakarta";
  src: url("../../../assets/TempFonts/PlusJakartaSans-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

#LoginRegisterButtonsContainer {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  align-items: center;
  height: 8%;
  margin-top: 50px;
}

#createAccountButton {
  height: 45px;
  font-family: "Plus Jakarta";
  border: none;
  color: #121212;
  background-color: #ccfc56;
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 500;
  font-size: 18px;
  padding: 0 20px 0 20px;
  border-radius: 12px;

  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#logInButton {
  height: 45px;
  font-family: "Plus Jakarta";
  border: none;
  color: #2d18bf;
  background-color: #f9f9f9;

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 500;
  font-size: 18px;
  padding: 0 20px 0 20px;
  border-radius: 12px;
  padding: 0 20px 0 20px;

  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

@media only screen and (max-width: 640px) {
  #LoginRegisterButtonsContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  #logInButton {
    height: 40px;
    font-size: 15px;
    padding: 0 15px 0 15px;
  }
  #createAccountButton {
    height: 40px;
    font-size: 15px;
    padding: 0 15px 0 15px;
  }
}
