@font-face {
    font-family: 'Plus Jakarta';
    src: url('../../../assets/TempFonts/PlusJakartaSans-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
    #LoginRegisterButtonsContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 8%;
        margin-top: 50px;
    }

    #createAccountButton {
        height: 45px;
        font-family: 'Plus Jakarta';
        border: none;
        color: #121212;
        background-color: #CCFC56;
        display: flex;
        justify-content: center;
        align-items: center;

        font-weight: 500;
        font-size: 18px;
        padding: 0 20px 0 20px;
        border-radius: 12px;


        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    #logInButton {
        height: 45px;
        font-family: 'Plus Jakarta';
        border: none;
        color: #2D18BF;
        background-color: #F9F9F9;

        display: flex;
        justify-content: center;
        align-items: center;

        font-weight: 500;
        font-size: 18px;
        padding: 0 20px 0 20px;
        border-radius: 12px;
        padding: 0 20px 0 20px;
        margin-left: 30px;

        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
}