
.assistant {
    position: fixed;
    bottom: 30px; 
    right: 30px; 
    width: 100px; 
    height: 100px; 
    background-color: #2D18BF; 
    border-radius: 50%; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    z-index: 1000; 
    overflow: hidden; 
    display: flex;    
    align-items: center;
    cursor: pointer;
}

.assistant-img {
    position: absolute;
    left: 60px;
    top: 16px;
    width: 150%; 
    height: 150%; 
    transform: scale(2.0); 
    object-fit: contain; 
}

