.level {
    width: 551px; 
    height: 240px; 
    border-radius: 16px;
    color: white;
    background-color: #181818; 
    position: relative; 
    padding: 16px;
    box-sizing: border-box;
}

.level p {
    font-size: 16px;
    margin-left: 24px; 
}

.MoveButton {
    position: absolute;
    top: 16px;
    right: 16px; 
    width: 16px;
    height: 16px;
}
