.card {
    width: 100%;
    height: 100%;
    background-color:#F2622E;
    border-radius: 16px;
    padding: 24px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: left; 
}

.card .top-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 16px; 
}

.card h2, .card h3 {
    margin: 0; 
}

.card .amount {
    margin-top: 0px; 
    font-size: 36px;

}

.card .cardLogo {
    margin-top: 0px; 
}

.card .subtitle {
    margin-top: 0; 
    font-size: 16px;
}

.card .cardNumber {
    margin-top: 8px; 
    font-size: 16px;

}
