.profileHeader {
    position: relative; 
    width: 100%;  
    height: 230px;  
}

.backgorundHeader {
    position: absolute;  
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-color: rgb(125, 81, 81);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

