.page {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    padding-left: 10vw; 
    height: 100vh; 
    overflow-y: auto; 
    position: relative; 
}

h1 {
    color: white;
    font-family: "Plus Jakarta Sans";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 100%;
    margin: 20px 0;
}

.contentWrapper {
    width: 100%;
}

.generalProfile {
    background-color: aqua;
    height: 820px;
    width: 80vw; 
    margin: 20px auto; 
    border-radius: 15px;
}

#profileBackground {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    background-image: url('../../assets/desktop/svg/DashboardScreen.svg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    z-index: -1; 
}
.content{
    background-color: blueviolet;
    display: flex;
    flex-direction: row; /* Cambia a disposición en fila (columnas) */
    justify-content: space-between; /* Espacio entre las columnas */
    align-items: stretch; /* Asegura que las columnas tengan la misma altura */
    width: 100%;  
    height: 590px;
    border-radius: 15px;
    padding: 15px; /* Opcional: agrega espacio interno */
    gap: 20px; /* Espacio entre columnas */
}

.generalContent{
    background-color:#181818;
    flex: 1; /* Ocupa la misma proporción de espacio que su vecino */
    border-radius: 10px;

}

.principalContent {
    background-color:#181818;
    width: 890px;
    border-radius: 10px;
}