#profilePage {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    padding-left: 10vw; 
    height: 100vh; 
    overflow: hidden;
    position: relative; 
}

#titleProfile {
    color: white;
    font-family: "Plus Jakarta Sans";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 100%;
    margin: 20px ;
    margin-left: 70px;
    margin-bottom: 50px;
}

.contentWrapper {
    width: 100%;
}

.generalProfile {
    height: 520px;
    width: 80vw; 
    margin: 20px auto; 
    border-radius: 15px;
    margin-top: -20px;
}

#profileBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url('../../assets/desktop/svg/DashboardScreen.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

.content{
    background-color: #181818;
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    align-items: stretch; 
    width: 100%;  
    height: 420px;
    border-radius: 0 0 15px 15px;
    padding: 15px; 
    gap: 20px; 
}
.avatarImage {
    width: 180px !important;
    height: 180px !important;
    margin-top: 100px;
    margin-left: 220px;
}


.generalContent{
    background-color:#181818;
    flex: 1; 
    border-radius: 10px;

}


.principalContent {
    background-color:#181818;
    width: 890px;
    border-radius: 10px;
}
.logOutButton{
    margin-left: 102.8px;
    margin-top: -34px;
    cursor: pointer;
  padding: 0;
}


@media only screen and (max-width: 500px) {
    .page{
        padding: 0px;
    }
    .avatarImage {
        margin-left: 125px;
        margin-top: 105px;
        width: 120px !important;
    height: 120px !important;
    }

    #titleProfile{
        margin-top: 70px;
        margin-left: -15px;
    }
    .generalProfile{
        margin-top: 40px;
        height: 60px;
          }
 .content{
    flex-direction: column;
    gap: 60px;
    height: 210px;
    padding: 15px 0;
 }
 .principalContent{
     width: auto;
     border: none;
 }
 .logOutButton{
    margin-left: 42px;
    margin-top: 880px;
    background-color: #181818;
    width: 335px;
    border-radius: 8px;
    padding: 8px;
    height: 70px;
    

}
.logOutIcon{
    
margin-top: -3px;


}


        }
