.savings {
    width: 279px; 
    height: 285px; 
    color: white;
    background-color:#181818;
    border-radius: 16px;
    position: relative; 
    padding: 16px;
    box-sizing: border-box;
    margin: auto;/*QUITAR DESPUÉS DE ACOMODAR*/
}

.savings p {
    font-size: 16px; 
    margin-left: 24px;
}

.MoveButton {
    position: absolute;
    top: 16px;
    right: 16px; 
    width: 16px;
    height: 16px;
}
