@font-face {
    font-family: 'Space Grotesk';
    src: url('../../assets/fonts/SpaceGrotesk-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Plus Jakarta';
    src: url('../../assets/fonts/PlusJakartaSans-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.reward-card {
    border-radius: 16px;
    padding: 20px;
    width: 25%;
    height: 240px;
    position: relative;
    color: white;
    overflow: hidden;
}

.reward-card-image {
    top: 0;
    left: 0;
    width: 193.078px;
    height: 48.118px;
    font-family: "Space Grotesk";
    line-height: 70px;
}

.reward-card-content {
    position: relative;
    z-index: 1;
    font-family: "Space Grotesk";
    margin-top: 25%;
}

.reward-card p {
    color: #F9F9F9;
    font-family: "Plus Jakarta";
    font-size: 23.283px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#white{
    width: 30%;
}

.reward-card-content .text-with-image img {
    margin-right: 3%; 
}

.reward-card h3 {
    color: #F9F9F9;
    font-family: "Space Grotesk";
    font-size: 29.519px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.reward-card-content .price-and-points {
    display: flex;
    align-items: center; 
}

.reward-card-content .text-with-image {
    display: flex;
    align-items: center;
    margin-left: 40%; 
}

