@font-face {
    font-family: 'Space Grotesk';
    src: url('../../assets/fonts/SpaceGrotesk-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Plus Jakarta';
    src: url('../../assets/fonts/PlusJakartaSans-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.reward-card {
    border-radius: 8px;
    padding: 20px;
    width: 22%;
    height: 200px;
    position: relative;
    color: white;
    overflow: hidden;
}

.reward-card-image {
    top: 0;
    left: 0;
    width: 193.078px;
    height: 48.118px;
}

.reward-card-content {
    position: relative;
    z-index: 1;
}
