.missions {
    width: 100%; 
    height: 100%; 
    border-radius: 16px;
    color: white;
    background-color: #181818;
    position: relative; 
    box-sizing: border-box;
    display: flex; 
    flex-direction: column; 
}

.MoveButton {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 16px;
    height: 16px;
}

.info-container {
    margin-left: 16px;
    font-size: 16px;
    display: flex; 
    line-height: 2;
    font-style: normal;
    font-weight: 700; 
}