@font-face {
    font-family: 'Space Grotesk';
    src: url('../../../assets/TempFonts/SpaceGrotesk-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Plus Jakarta';
    src: url('../../assets/TempFonts/PlusJakartaSans-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.ButtonAdd {
    width: 90%;
    height: 6%;
    color: white;
    background-color: #2D18BF;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Plus Jakarta';

    position: relative;
    z-index: 10;
    top: -30px;
}