.expense-container {
    max-height: 230px;
    width: 100%;
}

.custom-tick-text-incomes .recharts-cartesian-axis-tick text {
    fill: white !important;
    /* Usa !important para sobreescribir el estilo */
}