.navContainer {
  /* background-color: #181818; */
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 5%;
}

.navContainer img {
  padding: 4px;
}

.nav {
  background-color: #181818;
  border-radius: 50px;
  width: 100%;
}

.capy {
  width: 100%;
  background-color: #181818;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  aspect-ratio: 1/1;
  margin-bottom: 30%;
}

.principal {
  background-color: #181818;
  margin-bottom: 48px;
  margin-top: 2vh;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.last {
  background-color: #181818;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding-bottom: 26px;
}

.Logo,
.IncomeExpenses,
.Dashboard,
.Savings,
.Rewards,
.Settings,
.User,
.LogOut {
  width: 65%;
  aspect-ratio: 1/1;
}

.focus {
  background-color: #CCFC56;
  border-radius: 20px;
}