.nav {
  background-color: #181818;
  height: 491px;
  width: 71.3px;
  border-radius: 50px;
}

.capy {
  width: 71px;         
  height: 71px;        
  background-color:#181818; 
  border-radius: 50%;   
  display: flex;         
  align-items: center;  
  justify-content: center; 
  color: white; 
  margin-bottom: 20px;
  padding-top: 26px;

}

.principal {
  background-color: #181818;
  margin-bottom: 48px;
  border-top-left-radius: 50px;  
  border-top-right-radius: 50px;
  display: flex;
  flex-direction: column; 
  align-items: center; 
  gap: 15px; 
}

.last {
  background-color: #181818;
  margin-bottom: 90px;
  border-bottom-left-radius: 50px; 
  border-bottom-right-radius: 50px;
  display: flex;
  flex-direction: column; 
  align-items: center; 
  gap: 15px; 
  padding-bottom: 26px;

}

.Logo,
.IncomeExpenses,
.Dashboard,
.Savings,
.Rewards,
.Settings,
.User,
.LogOut {
  width: 40px;
  height: 40px;
}
