.navContainer {
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 4.5vw;
  margin: 8% 0 0 0;
}

.navContainer img {
  padding: 6px;
  cursor: pointer;
  border-radius: 20px;
  transition: background-color 0.3s ease, border-radius 0.2s ease;
}

.navContainer img:hover {
  background-color: #c4c4c438;
  border-radius: 20px;
}

.nav {
  background-color: #181818;
  border-radius: 50px;
  width: 100%;
}

.capy {
  width: 100%;
  background-color: #181818;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  aspect-ratio: 1/1;
  margin-bottom: 30%;
}

.principal {
  background-color: #181818;
  margin-bottom: 48px;
  margin-top: 2vh;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.last {
  background-color: #181818;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding-bottom: 26px;
}

.Logo,
.IncomeExpenses,
.Dashboard,
.Savings,
.Rewards,
.Settings,
.User,
.LogOut {
  width: 65%;
  aspect-ratio: 1/1;
}

.navContainer img.focus,
.navContainer img.focus:hover {
  background-color: #CCFC56;
  border-radius: 20px;
  cursor: auto;
}