.generalHistory {
    max-width: 600px;  /* Establece un ancho máximo para el contenedor */
    height: 400px;  /* Altura fija para que se pueda activar el scroll vertical */
    margin: 0 auto;  /* Centra el div en la página */
    padding: 20px;
    border: 1px solid #ddd;  /* Añade un borde alrededor del contenedor */
    overflow-y: auto;  /* Activa el scroll vertical si el contenido es demasiado grande */
    background-color: #f9f9f9;  /* Color de fondo para dar estilo */
  }
  
  h1 {
    text-align: center;
  }
  
  select {
    display: block;
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    font-size: 16px;
  }
  
  li {
    padding: 10px;
    background-color: #181818;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  img {
    display: block;
    margin-top: 10px;
    border-radius: 8px;
  }
  
  li h2 {
    font-size: 18px;
    margin-bottom: 8px;
  }
  
  li p {
    margin: 5px 0;
    font-size: 14px;
  }
  