.generalHistory{
    background-color:black ;
    width: 516px;
    height: 426px;
    margin-bottom: 20px; 
    color: #ffffff;
    margin: 20px auto; 
    padding: 20px;
    border-radius: 8px; 
}

.generalHistory h1{
    color: #ffffff; 
    font-size: 20px;
    text-align: center; 
}

.generalHistory input[type='number'], 
.generalHistory select {
    width: 426px; 
    height: 48px; 
    padding: 10px; 
    margin: 10px 0; 
    border: 1px solid #ccc; 
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(10px); 
    color: #fff; 
}

.generalHistory input::placeholder, 
.generalHistory select option {
    color: #aaa; 
}